body {
    display: flex;
    margin: 0;
    height: 100vh;
}

body:not(.flip-columns) {
    flex-direction: row;
}

body.flip-columns {
    flex-direction: row-reverse;
}

.start {
    font-size: 1.3rem;
    font-variant: small-caps;
}

#play-column {
    flex-grow: 0;
}

#play-column > * {
    padding: 0.5em 1.5em;
}

.counter {
    font-family: monospace;
    font-size: 1rem;
}

input[type="number"].counter {
    padding: 0;
    border: none;
}

#delay-control {
    width: 4em;
}

#control-column {
    flex-grow: 1;
    top: 0px;
    height: 100%;
    overflow-y: auto;
}

body:not(.flip-columns) #control-column {
    border-left-width: 1px;
    border-left-style: solid;
}

body.flip-columns #control-column {
    border-right-width: 1px;
    border-right-style: solid;
}

#control-column {
    margin: 0;
}

#game-controls {
    display: flex;
    flex-direction: right;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#game-controls * {
    line-height: 100%;
    vertical-align: middle;
}

.accordion {
    width: 100%;
    border: none;
    height: 2.5rem;
    font-size: 2rem;
}

.accordion:not(:first-child) {
    border-top-width: 1px;
    border-top-style: solid;
}

.accordion::after {
    font-family: monospace;
    float: right;
}

.accordion:not(.active)::after {
    content: '+';
}

.accordion.active::after {
    content: '-';
}

.panel {
    overflow: hidden;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: height 0.25s ease-in-out, margin 0.4s ease-in-out;
}

.accordion:not(.active) + .panel{
    margin-top: 0;
    margin-bottom: 0;
}

.panel * {
    margin: 0;
}

textarea {
    width: 100%;
}

.note {
    font-style: italic;
    opacity: 0.5;
}

/* Light Mode colors */

body.light-mode {
    background-color: #F5F5F5;
    border-color: #212121;
}

body.light-mode .accordion {
    background-color: #F5F5F5;
}

body.light-mode .accordion:hover {
    background-color: #B0BEC5;
}

/* Dark Mode Colors */

body.dark-mode {
    background-color: #F5F5F5;
    border-color: #212121;
}

body.dark-mode .accordion {
    background-color: #F5F5F5;
}

body.dark-mode .accordion:hover {
    background-color: #B0BEC5;
}
