body {
    display: flex;
    margin: 0;
    height: 100vh;
}

body:not(.flip-columns) {
    flex-direction: row;
}

body.flip-columns {
    flex-direction: row-reverse;
}

body div {
    position: relative;
}

button {
    line-height: 100%;
    vertical-align: middle;
}
input[type="number"] {
    padding: 0;
    border: none;
    font-family: monospace;
    font-size: 1em;
}

.start {
    font-size: 1.3rem;
    font-variant: small-caps;
}

#play-column {
    flex-grow: 0;
}

#play-column > * {
    padding: 0.5em 1.5em;
}

#game-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#delay-control {
    width: 4em;
}

.playback-controls button {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2rem;
    padding: 0;
}

.playback-controls button span {
    display: block;
    margin: auto;
}

#pause-play:not(.paused) .play {
    display: none;
}

#pause-play.paused .pause {
    display: none;
}

#control-column {
    flex-grow: 1;
    top: 0px;
    height: 100%;
    overflow-y: auto;
    margin: 0;
}

body:not(.flip-columns) #control-column {
    border-left-width: 1px;
    border-left-style: solid;
}

body.flip-columns #control-column {
    border-right-width: 1px;
    border-right-style: solid;
}

.accordion {
    background-color: inherit;
    width: 100%;
    border: none;
    height: 2.5rem;
    font-size: 2rem;
}

.accordion:not(:first-child) {
    border-top-width: 1px;
    border-top-style: solid;
}

.accordion::after {
    font-family: monospace;
    float: right;
}

.accordion:not(.active)::after {
    content: '+';
}

.accordion.active::after {
    content: '-';
}

.panel {
    overflow: hidden;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: height 0.25s ease-in-out, margin 0.4s ease-in-out;
}

.accordion:not(.active) + .panel{
    margin-top: 0;
    margin-bottom: 0;
}

.panel * {
    margin: 0;
}

.code-control {
    margin: 0.1rem 0;
}

textarea {
    margin: 0;
    border-width: 1px;
    padding: 0.2em;
    min-height: 20em;
    max-height: 80vh;
    min-width: 40em;
    max-width: calc(100% - 2px - 0.4em);
    width: 100%;
}

.note {
    font-style: italic;
    opacity: 0.5;
    justify-content: center;
}

#column-swapper {
    position: absolute;
    top: 50vh;
    margin: 0;
    padding: 0.1em;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

body:not(.flip-columns) #column-swapper {
    left: 0px;
    transform: translate(-2px, -50%);
}

body.flip-columns #column-swapper {
    right: 0px;
    transform: translate(2px, -50%);
}

#theme-toggle {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    border-radius: 1.5rem;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

/* Light Mode colors */

body.light-mode {
    background-color: #F5F5F5;
}

body.light-mode * {
    color: #212121;
}

body.light-mode button.accordion,
body.light-mode textarea,
body.light-mode input,
body.light-mode select {
    border-color: #212121;
}

body.light-mode button:not(.accordion),
body.light-mode textarea,
body.light-mode input,
body.light-mode select {
    background-color: #EEEEEE;
    border: 1px solid #607D8B;
}

body.light-mode textarea {
    color: black;
}

body.light-mode button:not(.accordion):hover,
body.light-mode select:hover {
    background-color: #B0BEC5;
    border: 1px solid #546E7A;
}

body.light-mode .accordion:hover {
    background-color: #B0BEC5;
}

body.light-mode button#theme-toggle {
    background-color: #212121;
}

body.light-mode button#theme-toggle .sun {
    display: none;
}

body.light-mode button#theme-toggle .moon {
    color: #F5F5F5;
}

body.light-mode #pause-play {
    background-color: #4CAF50;
    border-color: #2E7D32;
}

body.light-mode #pause-play:hover {
    background-color: #388E3C;
    border-color: #1B5E20;
}

body.light-mode #pause-play:active {
    background-color: #C0CA33;
    border-color: #9E9D24;
}

body.light-mode #step-btn {
    background-color: #2196F3;
    border-color: #1565C0;
}

body.light-mode #step-btn:hover {
    background-color: #1976D2;
    border-color: #0D47A1;
}

body.light-mode #step-btn:active {
    background-color: #00ACC1;
    border-color: #00838F;
}

body.light-mode #abandon-game {
    background-color: #f44336;
    border-color: #c62828;
}

body.light-mode #abandon-game:hover {
    background-color: #d32f2f;
    border-color: #b71c1c;
}

body.light-mode #abandon-game:active {
    background-color: #FFEB3B;
    border-color: #F57F17;
}

/* Dark Mode Colors */

body.dark-mode {
    background-color: #212121;
}

body.dark-mode * {
    color: #E0E0E0;
}

body.dark-mode button.accordion,
body.dark-mode textarea,
body.dark-mode input,
body.dark-mode select
{
    border-color: #9E9E9E;
}

body.dark-mode button:not(.accordion),
body.dark-mode textarea,
body.dark-mode input,
body.dark-mode select
{
    border-width: 1px;
    background-color: #212121;
}

body.dark-mode button:not(.accordion):hover,
body.dark-mode select:hover
{
    border-color: #90A4AE;
    background-color: #37474F;
}

body.dark-mode button:not(.accordion) {
    background-color: #424242;
}

body.dark-mode button:not(.accordion):hover {
    background-color: #455A64;
}

body.dark-mode .accordion:hover {
    background-color: #455A64;
}

body.dark-mode button#theme-toggle {
    background-color: #F5F5F5;
}

body.dark-mode button#theme-toggle .sun {
    color: #212121;
}

body.dark-mode button#theme-toggle .moon {
    display: none;
}
body.dark-mode #delay-control {
    border: 1px solid white;
}
body.dark-mode #pause-play {
    background-color: #4CAF50;
    border-color: #C8E6C9;
}

body.dark-mode #pause-play:hover {
    background-color: #81C784;
    border-color: #E8F5E9;
}

body.dark-mode #pause-play:active {
    background-color: #C0CA33;
    border-color: #9E9D24;
}

body.dark-mode #step-btn {
    background-color: #2196F3;
    border-color: #BBDEFB;
}

body.dark-mode #step-btn:hover {
    background-color: #64B5F6;
    border-color: #E3F2FD;
}

body.dark-mode #step-btn:active {
    background-color: #4DD0E1;
    border-color: #B2EBF2;
}

body.dark-mode #abandon-game {
    background-color: #f44336;
    border-color: #ffcdd2;
}

body.dark-mode #abandon-game:hover {
    background-color: #e57373;
    border-color: #ffebee;
}

body.dark-mode #abandon-game:active {
    background-color: #FFEB3B;
    border-color: #e57373;
}

#viewport{
    padding: none;
    display: block;
    position: absolute;
    box-sizing: border-box;
}
.canvas-container{
    width: 850px;
    height: calc(100vh - 60px);
    padding-bottom: 0px !important;
}